/* Importing fonts  */
@font-face {
    font-family: "GeneralSans-Semibold";
    src: url("assets/GeneralSans-Semibold.ttf") format("truetype");
}
@font-face {
    font-family: "GeneralSans-Semibold";
    src: url("assets/GeneralSans-Regular.ttf") format("truetype");
}
* {
    font-family: "GeneralSans-Semibold", sans-serif;
}

body {
    background-color: #f4f4f4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "GeneralSans-Regular", sans-serif;
}
h1 {
    font-family: "GeneralSans-Regular", sans-serif;
    color: #000000;
    /* font-weight: 800; */
}
h2 {
    font-family: "GeneralSans-Regular", sans-serif;
}

p {
    font-family: "GeneralSans-Regular", sans-serif;
}

button {
    background-color: #000000;
    color: #ffffff;
    font-family: "GeneralSans-Regular", sans-serif;
    font-weight: 800;
    /* font-family: 'GeneralSans-Regular', sans-serif; */
    padding: 10px;
    border-radius: 4px;
    font-size: 1em;
    border: none;
    cursor: pointer;
}
.button-dark {
}
.button-light {
    background-color: #ffffff;
    color: #000000;
}

.activity-header {
    color: #000000;
    z-index: 100;
    position: absolute; 
}

header {
    z-index: 100;
    position: static; 
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    transition: box-shadow 0.2s linear;

    height: 70vh;
    align-content: center;
}

.flex-container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.p {
    font-weight: bold;
}

/* General box */
.topic-square {
    width: 200px;
    height: 260px;
    color: white;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transition: box-shadow 0.2s linear;
}
.topic-square:hover {
    /* background-color: #000000; */
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.7);
    &.selected-style {
        box-shadow: 0 0 14px 0 rgba(0, 0, 0, 1);
    }
}
/* Style the inner-text */
.topic-square:first-child {
    font-weight: bold;
    padding: 5px;
    font-size: 1.2em;
}
/* Color based on the topic */
.basic-science-square {
    background-color: #f031dd;
}
.clinical-science-square {
    background-color: #3172f0;
}
.public-health-square {
    background-color: #ff7a00;
}

/* Hide the radio button */
.topic-radio-input {
    width: 0px;
    height: 0px;
}

/* Add shadow and border to the selected box */
.selected-style {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1);
    /* border-width: 2px; */
    /* border-color: #0000002f; */
    /* border-style: solid; */
    box-sizing: content-box;
    /* transition: border-width 0.2s linear; */
    transition: box-shadow 0.2s linear;
}

/* Always pinned to the bottom-left corner */
.raven-footer-0 {
    position: fixed;
    bottom: -20%;
    left: -20%;
    width: 65%;
    height: 65%;
    z-index: 0;
    pointer-events: none;
}

.raven-footer-1 {
    position: fixed;
    bottom: 0;
    left: 0;
    bottom: -150px;
    left: -100px;
    z-index: -1;
    @media (max-width: 1000px) {
      /* height: 46vw; */
      @media (max-height: 700px) {
        height: 40vw;
      }

    }
}
.microscope-footer-1 {
    position: fixed;
    /* bottom: 0; */
    /* right: 0; */
    /* width: 2000px; */
    /* height: 2000px; */
    width: 64vw;
    height: 90%;
    /* height: 80vh; */
    right: -20vw;
    top: 39vh;
    /* height: 100%; */
    /* bottom: -150px; */
    /* right: -100px; */
    z-index: -1;
}
.microscope-footer-2 {
    position: fixed;
    /* bottom: 0; */
    /* right: 0; */
    /* width: 2000px; */
    /* height: 2000px; */
    width: 64vw;
    height: 90%;
    /* height: 80vh; */
    right: -20vw;
    top: 9vh;
    pointer-events: none;
    z-index: -1;
}

.raven-bubble-1 {
    z-index: 99;
    position: fixed;
    bottom: 400px;
    left: 220px;
    /* background-color: #6E00FF; */
    width: 100px;
    height: 100px;
    /* bottom: -150px; */
    /* left: -100px; */
}
.raven-bubble-body {
    /* width: 500px; */
    /* height: 100px; */
    background-color: #6e00ff;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    min-width: 500px;
    /* width: fit-content; */
    /* text-wrap: balance; */
    /* height: 100%; */
    padding: 10px;
}
.raven-bubble-body h1 {
    color: white;
}
.raven-bubble-triangle {
    position: relative;
    bottom: 15px;
    left: 0;
    width: 0;
    height: 0;
    border-right: 25px solid transparent;
    border-top: 50px solid #6e00ff;

    /* background-color: #00ff44ae; */
    /* border-radius: 15px; */
    /* top border radius */
    /* border-top-left-radius: 15px; */
    /* border-top-right-radius: 15px; */
    /* bottom border radius */
    /* border-bottom-left-radius: 15px; */
    /* border-bottom-right-radius: 15px; */
}

/* .raven-bubble-1 h1 {
  font-size: 1.5em;
  font-weight: bold;
  color: #de1616;
} */

/* pin to bottom-right of parent */
.continue-button-1 {
    /* width: 200px; */
    /* height: 200px; */
    /* background-color: #22ff00; */
    position: relative;
    bottom: 20px;
    left: 400px;
}

/* feedback component */
.feedback-form {
    max-width: 600px;
    margin: auto;
}
.question-navigation {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.question-navigation button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #3737377e;
    /* background-color: aqua; */
}
.question-navigation .active {
    font-weight: bold;
    color: #000;
}
/* .question-button {
  background: #ccc;
  color: #000;
} */
.question-content h2 {
    font-size: 18px;
    margin-bottom: 10px;
}
.feedback-options {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}
.feedback-options label {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feedback-options input {
    display: none;
}
.feedback-options .choice {
    /* width: 100px; */
    /* height: 100px; */
    /* background: #ccc; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    border: 2px solid transparent;
    cursor: pointer;
}
.feedback-options input:checked + .choice {
    border-color: #000000;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    border-width: 2px;
}
textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
}
.submit-feedback-button {
    display: block;
    margin-left: auto;
    padding: 10px 20px;
    background: #000;
    color: #fff;
    border: none;
    cursor: pointer;
}

textarea {
    /* outline: none; */
    /* border: 2px solid #000;
  border-radius: 4px; */
    font-family: "GeneralSans-Regular", sans-serif;
    border: none;
    outline: none;
    resize: none;
    padding: 5px;
    font-size: 1.3em;
}
textarea::placeholder {
}

.choice-image-text {
    font-family: "GeneralSans-Regular", sans-serif;
    font-weight: bold;
    position: relative;
    z-index: 100;
    font-size: 1.5em;
    color: #000000;
    width: 0px;
    height: 0px;
    left: 5px;
    top: 5px;
}

/* Summary page */

.summary-screen-header {
    /* font-size: 1.5em;
  font-weight: bold;
  color: #000000; */
    text-align: left;
    width: 100%;
}

.summary-screen-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.summary-area-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background-color: #f4f4f4;
    width: 60%;
    h2 {
        text-align: left;
        align-self: flex-start;
    }
}

.summary-instance-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    /* width: 95%; */
    background-color: #ffffff;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.083);
    /* animation: height 0.5s ease-in-out; */
    transition: height 0.5s ease-in-out;

    h2 {
        text-align: left;
        align-self: flex-start;
        font-size: 1.3em;
        margin-top: 0;
        margin-bottom: 0;
        color: #00000086;
    }
    h3 {
        text-align: left;
        align-self: flex-start;
        font-size: 1.3em;
        margin-top: 5px;
        margin-bottom: 0;
    }
}
.summary-instance-stats-area {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5px;
}

.stats-column {
    margin-left: 0px;
    margin-right: 15px;
    p {
        padding: 5px;
    }
}

.pct-column {
    /* width: fit-content; */
    margin-right: 5px;
    /* text-align: right; */
    p {
        font-weight: bold;
    }
}

.stats-bar-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 6px;
}

.stats-bar {
    width: 50%;
    height: 100%;
    background-color: #dd1f1f;
    height: 30px;
    border-radius: 6px;
}

.good-bar {
    background-color: #ffa800;
}
.better-bar {
    background-color: #f4f734;
}
.great-bar {
    background-color: #a0ff00;
}

.summary-instance-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.summary-instance-answer-bubble-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    transition: max-height 0.4s ease-in-out;

    overflow: scroll;
    max-height: 600px;
    /* max-height: auto; */
    /* transition: max-height 1s cubic-bezier(0, 1, 0, 1); */
}
.summary-instance-answer-bubble-container.collapsed {
    max-height: 0;
    overflow: hidden;
}

.summary-instance-answer-bubble {
    /* background-color: #F031DD; */
    width: 100px;
    height: 100px;
    position: relative;
    align-self: flex-start;
    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5); */
    margin-left: 8%;
}
.summary-instance-answer-bubble.right {
    /* background-color: #F031DD; */
    width: 100px;
    height: 100px;
    position: relative;
    /* align-self: flex-end; */
    margin-left: 18%;
}

.answer-bubble {
    z-index: 99;
    /* position: a; */
    bottom: 400px;
    left: 220px;
    /* background-color: #6E00FF; */
    width: 500px;
    height: 100px;
    /* bottom: -150px; */
    /* left: -100px; */
    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.186); */
}
.answer-bubble.right {
    left: 0;
}

.answer-bubble-body {
    color: #000000;
    /* width: 500px; */
    /* height: 100px; */
    /* background-color: #A0FF00; */
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 200px;

    padding: 10px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
    &.your-color {
        background-color: #6e00ff;
    }
}
.answer-bubble-body.right {
    &.your-color {
        background-color: #6e00ff;
        color: #ffffff;
    }
}
.answer-bubble-body h1 {
    color: rgb(0, 0, 0);
    margin-top: 0;
}
.answer-bubble-triangle {
    position: relative;
    bottom: 15px;
    left: 0;
    width: 0;
    height: 0;
    border-right: 25px solid transparent;
    border-top: 50px solid #a0ff00;
    border-left: none;
    border-bottom: none;

    &.good-color {
        border-top-color: #ffa800;
    }
    &.better-color {
        border-top-color: #f4f734;
    }
    &.great-color {
        border-top-color: #a0ff00;
    }
    &.your-color {
        border-top-color: #6e00ff;
    }
}
.answer-bubble-triangle.right {
    border-right: 0px solid transparent;
    border-left: 25px solid transparent;
    border-top: 50px solid #a0ff00;
    right: 0;
    left: 95%;
    &.good-color {
        border-top-color: #ffa800;
    }
    &.better-color {
        border-top-color: #f4f734;
    }
    &.great-color {
        border-top-color: #a0ff00;
    }
    &.your-color {
        border-top-color: #6e00ff;
    }
}

.answer-bubble-icon {
    position: relative;
    bottom: 55px;
    left: -60px;
    right: 0;
    width: 0;
    height: 0;
    /* border-right: 25px solid transparent; */
    /* border-top: 50px solid #A0FF00; */
}
.answer-bubble-icon.right {
    /* border-right: 0px solid transparent; */
    /* border-left: 25px solid transparent; */
    /* border-top: 50px solid #A0FF00; */
    /* right: -40px; */
    left: 100%;
}

/* Start screen */
.activity-start-button-footer {
    position: fixed;
    bottom: 10vh;
    right: 50vw;
}

.winner {
    /* color: #d40000; */
    /* circle the text */
    border: 5px solid #6e00ff;
    border-radius: 20px;
    text-align: center;
    /* padding: 5px; */
}

.summary-area-footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.summary-continue-button {
    align-self: flex-end;
    justify-self: flex-end;
    text-align: right;
}

.congratulations-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
    h1 {
        font-size: 4em;
        font-weight: bold;
        color: #000000;
        margin-top: 5px;
        margin-bottom: 25px;
    }
    h2 {
        font-size: 1.5em;
        font-weight: bold;
        color: #000000;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

.congratulations-button-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    z-index: 99;
}

.try-again-button {
    background-color: #e3e3e3;
    color: #515151;
}

.exit-activity-button {
}

.confetti-whole-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 98; */
}

.confetti-whole {
    position: absolute;
    align-self: center;
    justify-self: center;
    /* bottom: 0; */
    /* left: 0; */
    /* width: 100%; */
    height: 100%;
    /* bottom: -150px; */
    /* left: -100px; */
    /* top: 5; */
    /* left: 0; */
    overflow: hidden;
}

.background-image-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.background-image {
    position: fixed;
    align-self: center;
    justify-self: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    z-index: 0;
}

.start-activity-container {
    width: 100vw;
    height: 100vh;
    background-color: #9c9c9c;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    /* z-index: 0; */
}

.select-topic-button {
    width: 100%;
    height: 100%;
    /* background-color: #FFFFFF; */
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.suspense-container {
    display: none;
}
