.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.p {
  font-weight: bold;
}


.topic-square {
  width: 150px;
  height: 200px;
  color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}
.topic-square:first-child {
  /* font-size: 20px; */
  font-weight: bold;
  padding: 5px;
}

.basic-science-square {
  background-color: #F031DD;
}
.clinical-science-square {
  background-color: #3172F0;
}
.public-health-square {
  background-color: #FF7A00;
}
.topic-radio-input {
  width: 0px;
  height: 0px;
  /* opacity: 0;
  position: absolute; */
}

.selected-style {
  /* border: 2px solid blue;  */
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1);
  border-width: 2px;
  border-color: #0000002f;
  border-style: solid;
  box-sizing: content-box;
  /* padding: 10px; */
}